body {
    background-color: darkgray;
}

.nameT {
    text-align: center;
}

.dTarefas {
    border: 3px solid black;
    border-radius: 21px;
    padding: 1%;
    width: 70%;
    margin: auto;
    position: relative;
    text-align: center;
}

.botaoMenu {
    border: 1px solid black;
    background-color: white;
    border-radius: 21px;
    top: 10px;
    margin-left: 95%;
    cursor: pointer;
}

.listaTD li {
    list-style-type: none;
    background-color: white;
    border: 1px solid black;
    padding: 1%;
    width: 88%;
    margin-top: 1px;
    text-align: left;
}

.dTitle {
    text-align: center;
    margin-top: -20px;
}

.menuOverlay {
    display: none;
    align-items: center;
}

.opcoes {
    position: fixed;
    top: 12.8%;
    left: 86%;
}

.btOverlay {
    border: 1px solid black;
    margin-top: 3px;
    width: 80%;
    cursor: pointer;
    border-radius: 21px;
}

.mostrarOverlay {
    display: flex;
}

.tituloAgenda {
    text-align: center;
}

.lista {
    margin-top: 1%;
    list-style: none;
    width: 600px;
    margin: auto;
}

.lista li {
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    margin-bottom: 3px;
}

.listaCabeca {
    display: flex;
    align-items: center;
}

.btnShowList {
    margin-left: 10px;
}

.lista ul {
  padding: 0;
  margin: 0;
}

.pesquisarTarefasD {
    border-radius: 21px;
    padding: 4px;
}